{% extends "default/module.html.jinja2" %}

{% block head %}
    {{ super() }}
    <style>
        #togglestate {
            display: none;
        }
    </style>

    {% filter minify_css %}
        <style>
            div#custom-version-navigation ul .navigation {
                font-family: monospace;
                padding: 0px;
            }
        </style>
    {% endfilter %}

    <script type="text/javascript">
        function get_version_navigation_base_url(){
            {% if env["BUILD_DOCS_TOPLEVEL"] == "0" %}
                // the root_module_name section here gets filled in by Jinja
                if (window.location.href.indexOf("{{ root_module_name }}.html") !== -1){
                    // we are in the "top level" of the docs
                    // eg: crozzers.github.io/screen_brightness_control/docs/0.11.3/screen_brightness_control.html
                    return new URL("./../..", window.location.href);
                }
                // in the lowest docs level
                // eg: crozzers.github.io/screen_brightness_control/docs/0.11.3/screen_brightness_control/linux.html
                return new URL("./../../..", window.location.href);
            {% else %}
            // absolute top level
            // eg: crozzers.github.io/screen_brightness_control/
                return new URL('./', window.location.href);
            {% endif %}
        }

        {% include "version_navigator_loader.js" %}
    </script>

{% endblock %}

{% block module_list_link %}
    {% if env["BUILD_DOCS_TOPLEVEL"] == "0" %}
        <a class="pdoc-button module-list-button" href="https://crozzers.github.io/screen_brightness_control">
            {% include "resources/box-arrow-in-left.svg" %}
            &nbsp;
            Back to homepage
        </a>
    {% endif %}
    {{ super() }}
{% endblock %}

{% block nav_footer %}

    <div id="custom-version-navigation">
    </div>

    <h2>
        <a href="https://github.com/Crozzers/screen_brightness_control">GitHub</a>
    </h2>
    <ul>
        <li><a href="https://github.com/Crozzers/screen_brightness_control/releases">Releases</a></li>
        <li><a href="https://github.com/Crozzers/screen_brightness_control/issues">Issue Tracker</a></li>
        <li><a href="https://github.com/Crozzers/screen_brightness_control/pulls">Pull Requests</a></li>
    </ul>
    <h2>
        <a href="https://pypi.org/project/screen-brightness-control/">PyPI</a>
    </h2>
    <h2>
        <a href="https://github.com/Crozzers/screen_brightness_control/blob/main/LICENSE">License</a>
    </h2>
    {{ super() }}
{% endblock %}

{% block module_info %}
    <section>
        {% block edit_button %}
            {{ super() }}
        {% endblock %}

        {% if env["BUILD_DOCS_TOPLEVEL"] == "0" %}
            {{ module_name() }}
        {% endif %}
        {{ docstring(module) }}
        {{ view_source(module) }}
    </section>
{% endblock %}