#togglestate {
    display: none;
}
div#custom-version-navigation .navigation {
    font-family: monospace;
    padding: 0 0 0 7%;
}
div#custom-version-navigation .dropdown {
    display: inline-block;
    width: 90%;
    height: 100%;
    padding-left: 0%;
}
div#custom-version-navigation button.dropdown {
    width: 7%;
    border: none;
    text-align: center;
    background-color: inherit;
}
div#custom-version-navigation button.dropdown:hover {
    background-color: var(--nav-hover);
}
div#custom-version-navigation .subversion {
    display: none;
    padding-left: 14%;
}