#togglestate {
    display: none;
}
div#custom-version-navigation .navigation {
    font-family: monospace;
    padding: 0 0 0 7%;
}
div#custom-version-navigation .dropdown {
    display: inline-block;
    width: 90%;
    height: 100%;
    padding-left: 0%;
}
div#custom-version-navigation button.dropdown {
    width: 7%;
    border: none;
    text-align: center;
    background-color: inherit;
}
div#custom-version-navigation button.dropdown:hover {
    background-color: var(--nav-hover);
}
div#custom-version-navigation .subversion {
    display: none;
    padding-left: 14%;
}
div.notice-marker {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - var(--sidebar-width));
    max-width: 100%;
    padding: .4rem 5rem .4rem 1rem;
    border: solid 3px red;
    background-color: var(--active);
    font-weight: bold;
}